###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=dcb264661e6a9f5fd04f609369db3cf2
#TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
#TRUSTED_HOSTS='^localhost|example\.com$'
###< symfony/framework-bundle ###

USER_ID=1000
GROUP_ID=1000

#Postgres
POSTGRES_PORT=7001
POSTGRES_PASSWORD=root
ADMINER_PORT=7002

#DB
DATABASE_URL=pgsql://postgres:root@postgres/steam_notifier
DATABASE_URL_DEFAULT=pgsql://postgres:root@postgres/postgres

#Steam
STEAM_API_KEY=key
STEAM_ID_64=id

#Telegram
TELEGRAM_TOKEN=token
TELEGRAM_GROUP_CHAT_ID=chat_id
TELEGRAM_ADMIN_CHAT_ID=admin_id

# Hltb
HLTB_TOKEN=