parameters:
    level: 8
    checkMissingIterableValueType: false
    paths:
        -   src
        -   tests
    excludePaths:
        - %currentWorkingDirectory%/src/Kernel.php
    ignoreErrors:
        -
            message: '#Cannot call method (fetchAssociative\(\)|fetchAllAssociative\(\)) on Doctrine\\DBAL\\[a-zA-Z\\]+#'
            path: %currentWorkingDirectory%/src/Infrastructure/Persistence/Repository/*